@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    sebasgiraldoa@gmail.com<br />
    https://github.com/sebasgiraldoa <br />
    <abbr title="Phone">P:</abbr>
    +57 3007858838
</address>
