@{
    ViewData["Title"] = "Home Page";
}
<style>
    th, td, p, input {
        font: 14px Verdana;
    }

    table, th, td {
        border: solid 1px #DDD;
        border-collapse: collapse;
        padding: 2px 3px;
        text-align: center;
    }

    th {
        font-weight: bold;
    }
</style>

<script type="text/javascript">
    this.GetEmployeeInformation = function () {
        $.ajax({
            type: 'GET',
            url: '/Home/GetEmployeeInformation/',
            data: { data: document.getElementById('txtId').value },
            cache: false,
            success: function (data) {
                $("#table-employees tbody tr").remove();
                $.each(data, function (index, val) {
                    var row =
                        "<tr>" +
                        "<td>" + val.id + "</td>" +
                        "<td>" + val.name + "</td>" +
                        "<td>" + val.contractTypeName + "</td>" +
                        "<td>" + val.roleId + "</td>" +
                        "<td>" + val.roleName + "</td>" +
                        "<td>" + val.roleDescription + "</td>" +
                        "<td>" + val.hourlySalary + "</td>" +
                        "<td>" + val.monthlySalary + "</td>" +
                        "<td><b>" + val.annualSalary + "</b></td>" +
                        "</tr>";
                    $('#table-employees').append(row);
                });
            }
        });
    }
</script>
<div class="row">

    @model IEnumerable<SalaryCalculator.Web.Models.Employee>
    <div class="row" style="margin-top:30px; margin-bottom:30px">
        <div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div>
                                <div style="padding:0" class="col-md-2">
                                    <input type="text" id="txtId" placeholder="employeeId" class="txtForm" />
                                </div>
                                <div style="padding:0" class="col-md-2">
                                    <input id="btnGetEmployee" class="btn btnForm" onclick="GetEmployeeInformation();" value="Get Employees" title="Search" type="button" style="width:250px !important;" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="table-responsive">
                        <table class="table table-hover" id="table-employees">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>Contract Type Name</th>
                                    <th>Role Id</th>
                                    <th>Role Name</th>
                                    <th>Role Description</th>
                                    <th>Hourly Salary</th>
                                    <th>Monthly Salary</th>
                                    <th>Annual Salary</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

</div>
<div class="row">
    <div class="col-md-3">
        <h2>Application uses</h2>
        <ul>
            <li>Sample pages using ASP.NET Core MVC</li>
            <li>Theming using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>How to</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">Add a Controller and View</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">Manage User Secrets using Secret Manager.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699316">Use logging to log a message.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699317">Add packages using NuGet.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699319">Target development, staging or production environment.</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Overview</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=518008">Conceptual overview of what is ASP.NET Core</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699320">Fundamentals of ASP.NET Core such as Startup and middleware.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=398602">Working with Data</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=398603">Security</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699321">Client side development</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699322">Develop on different platforms</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699323">Read more on the documentation site</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Run &amp; Deploy</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=517851">Run your app</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=517853">Run tools such as EF migrations and more</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=398609">Publish to Microsoft Azure Web Apps</a></li>
        </ul>
    </div>
</div>
